html,body{
    width:7.5rem;
    height:100%;
    position: relative;
}
.bj{
    width:100%;
    height:100%;
    position: relative;
    z-index: 1;
    background: url(../../images/cmj/bj.jpg)no-repeat center center/cover;
}
.an{
    width:100%;
    height:0.34rem;
    position: absolute;
    z-index:2;
    top:0.76rem;
}
.an a{
    display: block;
    width:0.34rem;
    height:0.34rem;
    margin-left:0.24rem;
    background: url(../../images/cmj/an.png) no-repeat center center/cover;
}
.kuang{
    top:2.68rem;
    width:5.54rem;
    left:0.98rem;
    height:68%;
    position: absolute;
    z-index:3;
    background: #fff;
    box-shadow:0px 5px 26px #000;
}
.zuo{
    width:0.74rem;
    height:0.74rem;
    margin-left:0.22rem;
    margin-top:0.22rem;
    font-size: 0.3rem;
    font-weight: bold;
    border-bottom:2px solid #436FFA;
    position: relative;
}
.zuo a{
    color: #444DF9;
}
.kuang-1{
    width:3.58rem;
    height:3.58rem;
    margin:0 auto;
    border:1px solid #ccc;
    box-sizing:border-box;
    border-radius: 50%;
    margin-top: 0.77rem;
    position: relative;
}
.kuang-x{
    width:3.2rem;
    height:3.2rem;
    margin:0 auto;
    margin-top:0.2rem;
    border:1px solid #ccc;
    box-sizing:border-box;
    border-radius: 50%;
}
.kuang-x-1{
    width:2.8rem;
    height:2.8rem;
    margin:0 auto;
    margin-top: 0.16rem;
    border-radius: 50%;
    box-sizing:border-box;
    background: #D2E0FE;
    position: relative;
}
.add{
    width:2.02rem;
    height:2.02rem;
    margin:0 auto;
    margin-top: 0.4rem;
    border-radius: 50%;
    background: url(../../images/cmj/tianjia.png)no-repeat center center/cover;
    position: absolute;
    margin-left:0.4rem;
}
.next{
    width:3.9rem;
    height:0.96rem;
    margin:0 auto;
    bottom:-0.48rem;
    position: absolute;
    left:0.84rem;
    background: #3946FF;
    background: url(../../images/cmj/next.png)no-repeat center center/cover;
}
.s{
    width:0.16rem;
    height:0.16rem;
    position: absolute;
    left:1.7rem;
    top:-0.08rem;
    background: #BDD3FF;
    border-radius: 50%;
}
.x{
    width:0.16rem;
    height:0.16rem;
    position: absolute;
    left:1.7rem;
    bottom:-0.08rem;
    background: #BDD3FF;
    border-radius: 50%;
}
.z{
    width:0.16rem;
    height:0.16rem;
    position: absolute;
    left:-0.08rem;
    bottom:1.7rem;
    background: #BDD3FF;
    border-radius: 50%;
}
.y{
    width:0.16rem;
    height:0.16rem;
    position: absolute;
    right:-0.08rem;
    bottom:1.7rem;
    background: #BDD3FF;
    border-radius: 50%;
}
.zuo-1{
    position: absolute;
    width:0.1rem;
    height:0.1rem;
    left:-0.06rem;
    bottom:-0.06rem;
    border-radius: 50%;
    background: #436FFA;
}
.you-1{
    position: absolute;
    width:0.1rem;
    height:0.1rem;
    right:-0.06rem;
    bottom:-0.06rem;
    border-radius: 50%;
    background: #436FFA;
}