body{
	height: 100%;
	position: relative;
}
header{
	width: 100%;
	height: .88rem;
	background: #3867FA;
}
*{
	box-sizing:border-box;
}
.nk{
  width: 7.06rem;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.zbox a{
   display: block;
   width: .44rem;
   height: .44rem;
   margin-top: .22rem;
   background: url(../../images/gj/out.png )no-repeat center center/100%;
}
.zbox{
	width: .44rem;
	height:100%;
	
	float:left; 
}

.ybox{
	width: .44rem;
	height:100%;
	
	float:right;
	margin-right: .1rem; 
}
.ybox a:nth-child(1){
	 display: block;
	 margin-top: .22rem;
   width: .44rem;
   height: .44rem;
   background: url(../../images/gj/fenxiang.png)no-repeat center center/100%;
}

.mbox{
	height: 100%;
	width:auto;
	background: url(../../images/gj/youji1.png )no-repeat center center;
	position: absolute;
	background-size: 30%;
	left: 0;
	top:0;
	right: 0;
	bottom:0;
}
.ybox a:nth-child(2){
	 display: block;
	 margin-top: .22rem;
   width: .44rem;
   height: .44rem;
   background: url(../../images/gj/liuyan.png)no-repeat center center/100%;
}
.ybox a:nth-child(3){
	 display: block;
	 margin-top: .22rem;
   width: .44rem;
   height: .44rem;
   background: url(../../images/gj/xin.png)no-repeat center center/100%;
}
.yboxa a:nth-child(4){
	 display: block;
	 margin-top: .22rem;
   width: .44rem;
   height: .44rem;
   background: url(../../images/gj/yun.png)no-repeat center center/100%;
}
.banner{
	width: 100%;
	height: 3.4rem;
	background: url(../../images/gj/banner1.png )no-repeat center center/100%;
	position: relative;
	margin-bottom: .4rem;
}
.banner span{
	position: absolute;
	left: 50%;
	bottom:-.5rem;
	font-size: .12rem;
	margin-left:-.15rem;
}
.bg{
	
	width: 4.3rem;
	height: 1.2rem;
	margin: 0 auto;
	background: url(../../images/gj/biaoge.png )no-repeat center center/100%;
	position: relative;
	margin-bottom: .5rem;
}
.rq{
	position: absolute;
	font-size: .12rem;
	left:.4rem;
	bottom: -.3rem;
}
.lc{
	position: absolute;
	font-size: .12rem;
	left:1.8rem;
	bottom: -.3rem;
}
.xh{
	position: absolute;
	font-size:.12rem;
	left:3.9rem;
	bottom: -.3rem;
}
.jieshao{
	width:6.5rem;
	height: .8rem;
display: flex;
margin-top:.8rem;

position: relative;
}
.jd{
	width: 25%;
	height: 100%;
	background: url(../../images/gj/jingdian.png ) no-repeat center center;
}
.zs{
	width: 25%;
	height: 100%;
	background: url(../../images/gj/zhusu.png ) no-repeat center center;
}
.cy{
	width: 25%;
	height: 100%;
	background: url(../../images/gj/canying.png )no-repeat center center;
}
.gw{
	width: 25%;
	height: 100%;
	background: url(../../images/gj/gouwu.png )no-repeat center center;
}
.mm{
position: absolute;
left:1.3rem;
top:0.2rem;
font-size: .12rem;
}
.lm{
position: absolute;
left:3rem;
top:0.2rem;
font-size: .12rem;
}
.km{
position: absolute;
left:4.5rem;
top:0.2rem;
font-size: .12rem;
}
.cm{
position: absolute;
left:6.4rem;
top:0.2rem;
font-size:.1rem;
}
.gj{
	width:100%;
	height: .4rem;
    display: flex;
    margin-top: .2rem;
    /*margin-left: .2rem;*/
}
.qizi{
	width: .4rem;
	height: .4rem;
	border-radius: 50%;
	margin-left: .2rem;
	background: url(../../images/gj/wukelan.png )no-repeat center center;
   
}
.oqizi{
	width: .4rem;
	height: .4rem;
	border-radius: 50%;
	margin-left: .2rem;
	background: url(../../images/gj/china.png )no-repeat center center;
}
.gjmz{
	width:auto;
	height: .4rem;
	font-size: .12rem;
}
.wzk{
	width:auto;
	height: .4rem;
	display: flex;
	margin-top: .2rem;
	margin-left: .4rem;
}
.xy{
	width: .2rem;
	height: .2rem;
	border-radius: 50%;
	background: red;
	margin-top: .1rem;
}
.ckrc{
	width: 100%;
	height:1rem;
	background: url(../../images/gj/ckrclx.png )no-repeat center center/50%;
}
.word{
  height: .2rem;width:auto;
  line-height: .4rem;
  font-size: .12rem;margin-left: .2rem;
}
.tpk{
	width: 6.8rem;
	height: 3.2rem;
	
    border-radius: .1rem;
    margin: 0 auto;
    background: url(../../images/gj/beijing.png )no-repeat center center/100%;
    display: flex;
    position: relative;
}
.dd{
	border-radius: .2rem;
	width:2.3rem;
	height:2.3rem;
	margin-left: .2rem;
}
.nn{
	border-radius: .2rem;
	width:2.3rem;
	height:2.3rem;
	margin-left: .2rem;
}
.ff{
	border-radius: .2rem;
	width:1.75rem;
	height:2.3rem;
	margin-left: .2rem;
}
.jcxx{
	font-size: .12rem;
	line-height: .12rem;
	width: auto;
	margin-left: .2rem;
	position: absolute;
	left: .2rem;
	bottom:.35rem;
}
.ll{
	position: absolute;
	left:5.65rem;
	bottom:.15rem;
	font-size: .12rem;
}
.rr{
	position: absolute;
	left:6.45rem;
	bottom:.15rem;
	font-size: .12rem;
}
.mask{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	background: rgba(23,23,23,.9);

}

.fxk{
	width: 5rem;
	height: 2.6rem;
	margin: 0 auto;
	margin-top: 5rem;
	background: url(../../images/gj/beijingtu.png )no-repeat center center/100%;
	position: relative;
}
.fxan a{
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	background: url(../../images/gj/fenxianganniu.png )no-repeat center center/100%;
	position: absolute;
	left:1.9rem;
	
	top:-.6rem;
}
.qq a{
	display: block;
	width:.95rem;
	height:.95rem;
	background: url(../../images/gj/qe.png )no-repeat center center/100%;
	position: absolute;
	left:.5rem;
	top:.7rem;
}
.wxing a{
	display: block;
	width:.95rem;
	height:.95rem;
	background: url(../../images/gj/wxing.png )no-repeat center center/100%;
	position: absolute;
	left:50%;
	top:50%;
	margin-left: -.4em;
	margin-top:-.6rem;
}
.wbo a{
	display: block;
	width:.95rem;
	height:.95rem;
	background: url(../../images/gj/weibo.png )no-repeat center center/100%;
	position: absolute;
	right:.5rem;
	top:.7rem;
	
}
.bacha a{
	display: block;
	width:.55rem;
	height:.55rem;
	background: url(../../images/gj/chahao.png )no-repeat center center/100%;
	position: absolute;
	right: 0;
	top:.05rem;
}
/*.pl{
	width: 2.5rem;
	height: .8rem;
	
	position: absolute;
	left: 2.6rem;
	top:.2rem;
}*/
.pl img{
	position: absolute;
	left:2.9rem;
	top:.2rem;
	width: 2.55rem;
	height: .8rem;
}
.zz{
	position: absolute;
	width: 1.3rem;
	height: .5rem;
	left:3.8rem;
	top:1rem;
}

.lo img{
	position: absolute;
	left:1.7rem;
	top:1.6rem;
	width:2.3rem;
	height:.7rem;
}
.vv{

	position: absolute;
	width: 1.3rem;
	height: .5rem;
	left:2.5rem;
	top:2.7rem;
}
.gg{
	position: absolute;
	width: 1.3rem;
	height: .5rem;
	left:5.6rem;
	top:3.6rem;
}
.fx img{
	position: absolute;
	left:5rem;
	top:2.5rem;
	width:1.8rem;
	height:.8rem;
}
.jk{
	width: 1.4rem;
	height: .4rem;
	position: absolute;
	top:.2rem;
	right:1rem;
}
.ok{
	width:1.7rem;
	height: .9rem;
	position: absolute;
   top:.8rem;
	right:1.5rem;
}
.pk{
	width: .75rem;
	height:1.35rem;
	position: absolute;
	top:.6rem;
	right:.2rem;
}
