body{
    font-size: 16px;
}
header{
    width:100%;
    height:.88rem;
    background: #3867FA;
    overflow: hidden;
}
header .ret{
    display: block;
    float: left;
    width:.42rem;
    height:.42rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-left: .24rem;
    margin-top: .22rem;
    background: url("../../images/zhangfei/ret.png") center center/100%;
    box-shadow: .0rem .05rem .05rem rgba(0,0,0,.5);
    -webkit-box-shadow: .0rem .05rem .05rem rgba(0,0,0,.5);
}
header .ret img{
    width:100%;
    height:100%;
}
header .title{
    width:2.9rem;
    height:.42rem;
    margin:0 auto;
    margin-top: .23rem;
    text-align: center;
    line-height:.42rem;
    font-size: 19px;
    color:#fff;
    position: relative;
}
.title .dian{
    position: absolute;
    width:.55rem;
    height:.1rem;
    top:.16rem;
}
.title .dian li{
    margin-right: .12rem;
    background: #fff;
    float: left;
}
.title .ld{
    left:0;
}
.title .ld li{
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.title .ld li:nth-child(1){
    width:.03rem;
    height:.03rem;
    margin-top: .03rem;
}
.title .ld li:nth-child(2){
    width:.05rem;
    height:.05rem;
    margin-top: .02rem;
}
.title .ld li:nth-child(3){
    width:.07rem;
    height:.07rem;
    margin-top: .015rem;
}
.title .rd{
    right:-.12rem;
}
.title .rd li{
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.title .rd li:nth-child(3){
    width:.03rem;
    height:.03rem;
    margin-top: .03rem;
}
.title .rd li:nth-child(2){
    width:.05rem;
    height:.05rem;
    margin-top: .02rem;
}
.title .rd li:nth-child(1){
    width:.07rem;
    height:.07rem;
    margin-top: .015rem;
}
/*中间部分*/
section{
    width:100%;
    height:auto;
    margin-top: .4rem;
}
section .cnt{
    position: relative;
    box-shadow: 0 0 .3rem  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 .3rem  rgba(0,0,0,0.6);
}
section .cnt a{
    display:block;
    width:100%;
    height:100%;
}
section .cnt a>img{
    width:100%;
}
section .cnt .name{
    position: absolute;
    width: .46rem;
    height:.8rem;
    top:50%;
    margin-top: -.4rem;
    margin-left: -.72rem;
}
section .cnt .name img{
    width:100%;
}section .cnt .name .mm{
     width:.6rem;
     height:.5rem;
     font-size: 12px;
     color: #3867FA;;
     line-height:.5rem;
 }
section .cnt1{
    width:6.08rem;
    height:2.4rem;
    margin-left:1.1rem;
}
section .cnt2{
    width: 5.7rem;
    height: 2rem;
    margin-left: 1.47rem;
}
section .cnt3{
    width: 5.13rem;
    height: 1.71rem;
    margin-left: 2.05rem;
}
section .cnt4{
    width: 4.63rem;
    height: 1.78rem;
    margin-left: 2.55rem;
}
section .cnt5{
    width: 3.97rem;
    height: 1.61rem;
    margin-left: 3.21rem;
}
section .cnt6{
    width: 3.27rem;
    height: 1.24rem;
    margin-left: 3.91rem;
}
/*底部更多*/
footer .more{
    width: 100%;height: .95rem;
}
footer .more a{
    display: block;
    width: .73rem;
    height: .73rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin:.11rem auto;
    box-shadow: 0 .05rem .05rem rega(0,0,0,0.8);
    -webkit-box-shadow: 0 .05rem .05rem rega(0,0,0,0.8);
}
footer .more a img{
   width: 100%;
}
